body {
    font-family: 'Inter', sans-serif;
}

#ppp{
    white-space: nowrap;
}

.responsive {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(3px);
}

@media screen and (max-width: 668px) {
    .responsive {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* ajuste la vidéo au plein écran */
        z-index: -1
    }
}

.bouton {
    display: none;
}

.navbar {
    background: #320a6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.addclass1 {
    background: #34126493;
    backdrop-filter: blur(20px);
}

.nav {
    position: relative;
    right: 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.nav ul li a {
    text-decoration: none;
    color: #E67514;
    font-weight: bold;
}

#rivo_a {
    font-size: 35px;
    color: #E67514;
    position: relative;
    left: 15px;
}

.boxiz {
    display: none;
}

.barr {
    margin-top: 5px;
    width: 30px;
    height: 3.5px;
    background-color: #F97A00;
    border-radius: 20px;
}

.barre {
    width: 50px;
    height: 50px;
    color: #E67514;
    display: none;
}

.change {
    display: none;
}

.change1 {
    display: block;
}

#accueil {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
    align-items: center;
    height: 300px;
    margin-top: 70px;
}

@media screen and (max-width:868px) {

    .bouton {
        display: block;
        width: 40px;
        height: 40px;
        color: white;
        position: fixed;
        background: #320a6b;
        border-radius: 50%;
        /* border: solid 0.5px #ffffff; */
        bottom: 40px;
        right: 20px;
        animation: scale 2s infinite;
        z-index: 10;
    }

    #accueil {
        height: 450px;
        color: white;
    }

    .mp {
        color: white;
    }

    .nav {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #320a6be0;
        backdrop-filter: blur(20px);
        flex-direction: column;
        transition: 1s;
        border-radius: 15px;
        top: 65px;
        left: 20px;
        width: 300px;
        height: 270px;
        font-size: 5px;


        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            /* background: #320A6B; */

            li {
                transform: translate(-20px);
                font-size: 20px;
            }

            li:hover {
                text-decoration: underline;
                color: #E67514;
            }
        }

    }

    .addClass {
        display: block;
    }

    .boxiz {
        display: block;
        position: relative;
        right: 10px;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


.me {
    font-style: italic;
    font-size: 45px;
    color: white;
}

.lastName {
    color: #F97A00;
    font-size: 50px;
}

.image {
    position: relative;
    top: 15px;
    height: 250px;
    width: 230px;
}

.photo {
    width: 200px;
    border-radius: 50%;
    border: solid 2px #320A6B;
}

.textContent {
    color: #9768d8;
    font-style: oblique;
    font-weight: bold;
    overflow: hidden;
}


.mp {
    /* background: #F97A00; */
    display: flex;
    justify-content: center;
    align-items: center;

    #propos_container {
        /* background: #320A6B; */
        text-align: center;
        width: 800px;
        color: white;

        #aPropos{
            color: #9768d8;
        }

        p {
            font-size: 20px;

            .moi {
                color: #9768d8;
                font-weight: bold;
            }

            .textImportant {
                color: #9768d8;
                font-weight: bold;
                /* background: #320A6B; */
                border-radius: 10px;
                padding: 5px;
                transition: 1s;
                transform: translateY(50px);
                opacity: 0;
            }

            .addClass2 {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width:668px) {

    .mp {
        /* background: #F97A00; */
        display: flex;
        justify-content: center;
        align-items: center;


        #propos_container {
            /* background: #320A6B; */
            text-align: center;
            width: 90%;

            p {
                font-size: 12px;

                .moi {
                    color: #9768d8;
                    font-weight: bold;
                }

                .textImportant {
                    color: #9768d8;
                    font-weight: bold;
                    /* background: #320A6B; */
                    border-radius: 10px;
                    padding: 5px;
                    transition: 1s;
                    transform: translateY(50px);
                    opacity: 0;
                }

                .addClass2 {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

}

#Competence_container {
    /* background: #320A6B; */
    padding: 1%;
    color: #f5e8e8;

    #competence {
        color: #9768d8;
    }

    h5 {
        color: #9768d8;
        text-align: center;
        font-size: 15px;
    }

    .mes_competences {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: 1s;

        ol {
            font-weight: bold;
        }

        .box {
            background: linear-gradient(to top, #822cbb83, #320a6b80);
            width: 250px;
            margin: 5px;
            padding: 1%;
            border-radius: 10px;
            transition: 1s;
            opacity: 0;
            transform: translateY(50px);
            border: rgb(182, 182, 182) solid 0.5px;
        }

        .addClass2 {
            transform: translateY(0);
            opacity: 1;
        }

    }
}


@media screen and (max-width:668px) {

    .textContent {
        color: #9768d8;
        font-style: oblique;
        font-weight: bold;
        overflow: hidden;
        font-size: 12px;
    }

    #Competence_container #competence {
        color: #9768d8;
    }

    #Competence_container h5 {
        color: #9768d8;
        font-size: 12px;
    }

    #Competence_container .mes_competences .box {
        width: 500px;
        height: auto;
        background: rgba(78, 24, 148, 0.582);
        backdrop-filter: blur(20px);
        margin-top: 15px;
        /* background: #7b4ebb5e;F */
        backdrop-filter: blur(3px);
        border: white solid 1px;
        font-size: 12px;

        ol {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            list-style: none;

            li {
                background: linear-gradient(to right, #320A6B, #5d27a8);
                padding: 2px 15px;
                width: auto;
                border-radius: 20px;
                text-align: center;
                /* box-shadow: 4px 4px 4px rgb(0, 0, 0); */
            }
        }

    }
}
.apprentissage {
    justify-content: center;
    color: #9768d8;
    text-align: center;
}
.pp {
    text-align: center;
    font-size: 12px;
}

.soft_skills {
    /* background: #E67514; */

    #soft-skills {
        color: #9768d8;
        margin: 1%;
    }

    .Box_skills {
        /* background: #320A6B; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .skills {
            margin: 5px;
            padding: 1%;
            border-radius: 10px;
            background: linear-gradient(to top, #882dc477, #320a6b7a);
            text-align: center;
            width: 200px;
            color: aliceblue;
            border: 0.5px solid rgb(173, 173, 173);
            transform: translateY(50px);
            opacity: 0;
            transition: 1s;

            .icons {
                width: 40px;
                height: 40px;
            }

            .travail_en_equipe {
                color: #ffd83d;
            }

            .leader_ship {
                color: #FF0066;
            }

            .communication {
                color: #08CB00;
                ;
            }

            .cretivite {
                color: #FFBC4C;
            }

            .resolution_probleme {
                color: #FEFFC4;
            }
        }

        .addClass2 {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.pp{
    color: #9768d8;
}

@media screen and (max-width:1000px) {

    .pp {
        color: #9768d8;
    }

    .soft_skills {

        #soft-skills {
            color: #9768d8;
        }

        .Box_skills {
            /* background: #320A6B; */
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .skills {
                margin: 5px;
                padding: 1%;
                border-radius: 10px;
                background: linear-gradient(to top, #744cad, #320A6B);
                text-align: center;
                width: 200px;
                color: #E67514;
                opacity: 0;
                translate: translateY(50px);
                border: white solid 1px;
                background: #7b4ebb5e;
                backdrop-filter: blur(3px);
            }

            .addClass2 {
                transform: translateY(0);
                opacity: 1;
            }

        }
    }
}

#parcour_container {
    #m {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #parcours {
        color: #9768d8;
        margin: 2%;
    }

    h5 {
        color: #F97A00;
        margin: 1%;
    }

    .etude_superieur {
        background: #7b4ebb50;
        width: 350px;
        height: 320px;
        padding: 1%;
        border-radius: 10px;
        margin: 1%;
        color: white;
        transform: translateY(50px);
        opacity: 0;
        transition: 1s;
        border: rgb(145, 145, 145) solid 1px;

        h2 {
            color: #ff9436;
        }
    }

    .hackathon {
        background: #744cad5e;
        width: 350px;
        height: 320px;
        padding: 1%;
        border-radius: 10px;
        margin: 1%;
        color: white;
        transform: translateY(50px);
        opacity: 0;
        transition: 1s;
        border: rgb(121, 121, 121) solid 1px;

        h2 {
            color: #ff9436;
        }

        h6 {
            background: linear-gradient(to right, #320A6B, #5d27a8);
            padding: 2px 15px;
            width: 150px;
            border-radius: 20px;
            text-align: center;
        }
    }

    .marquant {
        background: #7b4ebb57;
        width: 350px;
        height: 320px;
        padding: 1%;
        border-radius: 10px;
        margin: 1%;
        color: white;
        transform: translateY(50px);
        opacity: 0;
        transition: 1s;
        border: rgb(156, 156, 156) solid 1px;

        h2 {
            color: #ff9436;
        }
    }

    .addClass2 {
        transform: translateY(0);
        opacity: 1;
    }

}

@media screen and (max-width:668px) {

    #parcour_container {

        #m {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        #parcours {
            color: #8961c2;
        }

        h5 {
            color: #F97A00;
        }

        .etude_superieur {
            font-size: 13px;
            background: #7b4ebb5e;
            backdrop-filter: blur(3px);
            height: 250px;
            border: white solid 1px;
        }

        .hackathon {
            font-size: 13px;
            background: #7b4ebb5e;
            backdrop-filter: blur(3px);
            height: 190px;
            border: white solid 1px;
        }

        .marquant {
            font-size: 13px;
            background: #7b4ebb5e;
            backdrop-filter: blur(3px);
            height: 200px;
            border: white solid 1px;
        }
    }
}

.projet_container {
    /* background: #320A6B; */
    color: white;

    #projet {
        color: #9768d8;
        margin: 2%;
    }

    h4 {
        color: #9768d8;
        margin: 2%;
    }

    .projet_scolaire {
        /* background: red; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;


        .epidemie {
            background: linear-gradient(to top, #6731ca6e, #320a6b8f);
            width: 300px;
            text-align: center;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 15px;
            transform: translateY(50px);
            opacity: 0;
            transition: 1s;

            .img {
                /* background: #5d27a8; */
                padding: 15px;
                border-radius: 15px;
                display: flex;
                width: 250px;
                gap: 15px;
                overflow: hidden;


                .photo1 {
                    width: 250px;
                    border-radius: 15px;
                    animation: deplacer 5s infinite;
                    transition: 1s;
                }

                .photo2 {
                    width: 250px;
                    border-radius: 15px;
                    animation: deplacer 2s infinite;
                    transition: 1s;
                }
            }
        }


        .taches {
            background: linear-gradient(to top,  #6731ca6e, #320a6b8f);
            width: 300px;
            text-align: center;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            transform: translateY(50px);
            opacity: 0;
            transition: 1s;


            .img {
                /* background: #5d27a8; */
                padding: 15px;
                border-radius: 15px;
                display: flex;
                width: 250px;
                gap: 15px;
                overflow: hidden;

                .photo3 {
                    width: 250px;
                    border-radius: 15px;
                    transition: 1s;
                }

                .photo4 {
                    width: 250px;
                    border-radius: 15px;
                    transition: 1s;
                }
            }

        }
        .addClass2 {
            transform: translateY(0);
            opacity: 1;
        }
    }
}


@media screen and (max-width:668px) {
    .projet_container {
        /* background: #320A6B; */
        color: white;

        #projet {
            color: #9768d8;
        }

        h4 {
            color: #9674c5e5;
        }

        .projet_scolaire {
            /* background: red; */
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .epidemie,
            .taches {
                font-size: 14px;
                background: rgba(78, 24, 148, 0.39);
                backdrop-filter: blur(3px);
                padding: 15px;
                border: white solid 1px;
                transition: 1s;

                h3 {
                    font-size: 25px;
                    color: #ff9436;
                }
            }

            .epidemie:hover {
                box-shadow: 4px 4px 4px #5d27a8;
            }

            .taches:hover {
                box-shadow: 4px 4px 4px #5d27a8;
            }


        }
    }
}

footer {
    margin-top: 25px;
    background: #713eb9a1;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background: linear-gradient(to top, #462279, #320A6B); */


    .container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;


        .end_container{
            font-size: 20px;
        }

        .mail {
            text-decoration: none;
            text-align: center;
            color: #E67514;
            font-weight: bold;
            font-size: 20px;
        }


        .container_social {
            display: flex;
            gap: 22px;

            .img_social {
                width: 38px;
                height: 28px;
                border-radius: 50%;
            }

            .whatsapp {
                color: rgb(11, 255, 11);
            }

            .facebook {
                color: rgb(90, 90, 247);
            }

            .instagram {
                color: rgb(240, 65, 211);
            }

            .linkeding {
                color: rgb(64, 144, 235);
            }

            .git {
                color: black;
            }
        }
    }
}

@media screen and (max-width:668px) {
    footer{
        border: 1px solid white;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;


        .container{

            .container_social{
                display: flex;
                gap: 25px;


                .img_social{
                    width: 28px;
                    height: 28px;
                }
            }

            .mail{
                font-size: 17px;
            }
        }
    }
}